@charset "UTF-8";

*{
    padding: 0;
    margin: 0;

}

.container {
    
    height: 60vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 200px 200px;
    grid-template-areas: 
    "vermelho verde"
    "vermelho azul"
    "vermelho marrom"
    
    
    ;
    
}   

.vermelho {
    grid-area: vermelho ;
    background-color: red;
    
}



.azul {
    
    grid-area: azul;
    background-color: blue;
    justify-self: right;
    align-self: center;
}


.verde {  
    grid-area: verde;  
    background-color: green;
}

.marrom {   
    grid-area: marrom;
    background-color: brown;
    

}



